.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8%;
  font-family: "Inter", sans-serif;
}

.gallery h1 {
  font-size: 2em;
  margin: 32px 0;
  font-weight: bold;
  color: #2b2b2b;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6%;
}

.card {
  width: 30%;
  height: 60vh;
  min-height: 400px;
  max-height: 430px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5% 10%;
  justify-content: space-around;
}

.info h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 3%;
  color: #2b2b2b;
}

.btnplus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 5vh;
  overflow: visible;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #e9cdaf;
  border-radius: 8px;
  transition: 0.2s ease-in;
  cursor: pointer;
  margin-top: 5px;
}

.btnplus p{
  font-weight: bold;
  font-size: 1.1em;
  color: #2b2b2b;
  text-align: center;
  margin: 0;
}

.custommodal{
  display: none;
  opacity: 0;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
  transition: 0.3s ease-in;
}

.custommodal .row{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 4px;
}

.custommodal .close{
  font-size: 40px;
  margin-right: 20px;
  margin-bottom: 0;
  height: 30px;
  color: rgb(70, 70, 70);
  cursor: pointer;
}

.modalheader{
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  height: 15vh;
  background-color: white;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.modalheader h2{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

.modalheader p{
  margin-bottom: 8px;
  max-width: 60%;
  overflow: auto;
  text-align: center;
}

.modal-content{
  width: 85%;
  height: 70vh;
  overflow: auto;
  border-radius: 0 0 16px 16px;
  padding: 1%;
  border: none;
  padding-top: 0;
  background-color: rgb(228, 228, 228);
}

.modal-pictures{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.modal-pictures a img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 6%;
  border-radius: 4px;
}

.btnplus:hover,
.btnplus:focus{
  background-color: #d6a167;
}

.show{
  display: flex;
}

@media (max-width: 1024px) {
  .card {
    width: 48%;
  }
}

@media (max-width: 700px) {
  .card {
    width: 100%;
  }

  .modalheader{
    height: 25vh;
  }
}

@media (max-width: 520px) {
  .modal-pictures a img{
    width: 300px;
    height: 300px;
  }
}