#bodyIndex{
    box-sizing: border-box;
}

#divSuperior{
    border: none;
    margin-bottom: 100px;
}

#divSuperior #divSlogan{
    margin-top: 7rem;
}

#divSuperior #divSlogan h1{
    text-align: center;
}

#divSuperior #divSlogan p{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

#divSuperior #divSlogan a{
    width: 60%;
    background-color: #E9CDAF;
    border: none;
    color: black;
}

#divInferior{
    padding-bottom: 4rem;
}

.mainCard{
    width: 25rem;
    border: 1.2rem solid white;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    top: 3rem; 
}

#mainCard1{
    transform: rotate(15deg);
}

#mainCard2{
    transform: rotate(350deg);
}

#mainCard3{
    transform: rotate(30deg);
}

#mainCard4{
    background-color: white;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    min-height: 240px;
}

#mainCard4 h2{
    padding: 0.8rem;
    font-size: 1.5rem;
}

#mainCard4 p{
    padding: 0.8rem;
    font-size: 1rem;
}