/*----- Início do Main na Página Inicial -----*/

#bodyIndex{
    box-sizing: border-box;
}

#mainIndex{
    
}

#divSup{
    
}

#divSup img{
    width: 100%;
}

#divSup div{
    z-index: 1;
    color: white;
    width: 500px;
}

#divSup div h1{
    font-weight: bold;
    color: #F7F7F7;
}

#divSup div p{
    font-weight: 100;
}

/* #divSup div #btnMkt{
    background-color: #E9CDAF;
    width: 300px;
    height: 3rem;
    text-align: center;
    border-radius: 10px;
} */

.btn .btn-primary{
    background-color: #E9CDAF;
}

#divSup div #btnMkt a{
    color: black;
}

#divInf{
    
}

#divInf div{

}

#divInf .mainCard{
    border: 20px solid white;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 50px;
}

#divInf div #main-card1{
    transform: rotate(15deg);
}

#divInf div #main-card2{
    transform: rotate(350deg);
}

#divInf div #main-card3{
    transform: rotate(30deg);
}

#divInf #main-cardSlogan{
    width: 30%;
    height: 60vh;
    min-height: 400px;
    max-height: 430px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 24px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

#main-cardSlogan .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5% 10%;
  }

#divInf #main-cardSlogan h2{
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 3%;
    color: #2b2b2b;
}

#divInf #main-cardSlogan p{
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 1em;
    color: #2b2b2b;
    font-weight: bold;
}

/*----- Fim do Main na Página Inicial -----*/