
#divSuperior{
    border: none;
    margin-bottom: 100px;
}

#divSlogan{
    padding-top: 7rem;
}

#divSlogan h1{
    text-align: center;
}
#divSlogan{
    box-shadow: inset 570px 0px 225px 40px rgba(0, 0, 0, 0.40);
}
#divSlogan p{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

#divSlogan a{
    width: 60%;
    background-color: #E9CDAF;
    border: none;
    color: black;
}

#divInferior{
    padding-bottom: 4rem;
}

.mainCard{
    width: 25rem;
    border: 1.2rem solid white;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    top: 3rem; 
}

#mainCard1{
    transform: rotate(15deg);
}

#mainCard2{
    transform: rotate(350deg);
}

#mainCard3{
    transform: rotate(30deg);
}

#mainCard4{
    background-color: white;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    min-height: 240px;
}

#mainCard4 h2{
    padding: 0.8rem;
    font-size: 1.5rem;
}

#mainCard4 p{
    padding: 0.8rem;
    font-size: 1rem;
}

.brand-slider-full img { width:100% !important; }


@media screen and (max-width: 510px) {
    #divSuperior img {
        opacity: 0.4;
        min-height: 340px;
    }
    #divSlogan {
    padding-top: 1rem;
}
    .mainCard {
        max-width: 20rem;
    }
    #divSlogan h1 {
        text-align: center;
        font-size: 1.2rem;
    }

}