* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    /* font-family: ; */
}

#bodyIndex{
    background-image: url("/img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

header{
    line-height: 2rem;
    /*Gradiente gerado no site: https://cssgradient.io/*/
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(235,235,235,1) 100%);
}

header div{
    display: flex;
    justify-content: space-between;
}

#logo-header{
    padding-left: 2rem;
    width: 100px;
}

#menuSuperior {
    margin: 0;
    padding: 1.2rem 2rem 0 0;
    list-style-type: none;
    overflow: hidden;
}

header div ul li{
    display: inline;
}
li a {
    color: black;
    text-align: center;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(137, 137, 137);
    color: white;
    text-decoration: none;
}

main {
    min-height: 550px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 2rem;
    font-weight: 100;
    text-align: center;
    background-color: rgb(233, 231, 231);
}